#chatbox {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #aaa;
}

#messages {
  height: 300px;
  overflow-y: scroll;
}

.message {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #aaa;
}

.username {
  font-weight: bold;
  color: #333;
}

#input {
  width: calc(100% - 80px);
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #aaa;
}

#send {
  width: 70px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
