
.sectionC {
  font-family: Papyrus;
    font-size: 10px;
  margin: 0;
  //max-width: 1000px;
  width: 100%;
    padding: 0;
    //margin-left: 100px;
    color: aqua;
}

strong {
  font-weight: normal;
    font-family: Papyrus;
}


.grid {
  display: flex;
     flex-direction: row;
  flex-wrap: wrap;
  //justify-content: space-around;
  width: 100%;
    justify-content: center;
  align-items: center;
     font-family: Papyrus;
    font-size: 10px;
    
}
.grid figure {
  margin: 2rem 1rem;
  position: relative;
     font-family: Papyrus;
    font-size: 10px;
    
}
.grid figure figcaption {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 1rem;
  -webkit-transition: max-height 0.3s ease-out;
  overflow: hidden;
    font-family: Algerian;
    font-size: 20px;
    mix-blend-mode: luminosity;
}

.grid figure p {
  margin-top: 0.5rem;
    font-family: Papyrus;
    font-size: 10px;
}
.grid img {
  width: 300px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
    font-family: Papyrus;
    font-size: 20px;
}

.popular .grid figure figcaption p {
    font-family: Papyrus;
    font-size: 15px;
}

@media screen and (min-width: 701px) {
  
  figure figcaption {
    height: 50px;
  }
  figure:hover figcaption { 
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: height 0.5s ease-in;
      
  }
  figure:hover p {
    opacity: 1;
    transition: opacity 0.5s ease-in 0.6s;
    font-family: Papyrus;
      font-size: 10px;
  }

  p {
    opacity: 0;
      font-family: Papyrus;
      
  }
}
@media screen and (max-width: 700px) {
  figure {
    width: 100%;
  }

  p {
    opacity: 1;
      font-family: Papyrus;
      font-size: 10px;
  }

  figcaption {
    height: auto;
  }
}