@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

html{
	overflow-x: hidden;	
}

table{
	margin-top: 40px;
	margin-left: 70px;
}

iframe {
	width: 100%;
	height: 10%;
	position: relative;
	z-index: 2;
	border-style: none;
}

*{
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition:all .2s linear;
}

main {
  display: none;
  width: 100%;
  height: 100%;
  margin: auto auto;
  padding: 20px;
/*  background-color: #f5f5f5;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* add a shadow to the main element */
}


th{
    text-align:center;
	font-size: 30px;
	font-family: Algerian;
	color: white;
	height: 20px;
}

tr,td{
	text-align:center;
}

body{
	font-size: 20pt;
	background-color: black;
	font-family: Papyrus;
	color: white;
}

.button {
    background-color: #808000; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-family: "Tempus Sans ITC";
    font-weight: bolder;
  }

div {
    text-align: center;
    border-style: solid;
    margin-left: 300px;
    width:60%
}

#alignment{
    margin-left: auto;
    margin-right: auto;

}

input[type="number"] {
	border: 1px inset white;
	background-color: black;
	color:white;
	font-family: Papyrus;
	padding: 2px 5px;
}

.t1 {
	width: 1000px;
	font-family: 'Tempus Sans ITC';
	font-size: 15px;
	margin: auto;
}

.board {
	margin-top:80px;
	margin-left: -90px;
}

.th1 {
	font-family: 'ALgerian';
	font-size: 20px;
	background: rgba(0,0,0,0.9) url(images/city.jpg);
	background-blend-mode: color-dodge;
	background-position: center;
	background-size: cover;
}

.th1, .td1 {
	text-align: center;
	padding: 8px;
	border-bottom: 1px solid #ddd;
	padding: 10px 5px;
}

.tr1:nth-child(even) {
	background: rgba(0,0,0,0.9) url(images/pic26.jpg);   
	background-blend-mode: color-dodge;
	color: white;
}
.tr1:nth-child(odd) {
	background: rgba(0,0,0,0.5) url(images/rhombus.jpg);
	background-blend-mode: color-dodge;
}

.tr2 {
	background: rgba(0,0,0,0.9) url(images/city.jpg);
	background-blend-mode: color-dodge;
	background-position: center;
	background-size: cover;
}

.b {
	font-family: "Algerian";
	margin: 20px 0px;
	align-self: center;
	text-align: center;
}

#bttn {
	margin: 50px 250px;
	width: 150px;
	height: 60px;
	background: rgba(0,0,0,0.7) url(images/purple.jpg);
	background-blend-mode: color-dodge;
	color: white;
	font-family: 'Algerian';
}

#bttn:hover {
	background-blend-mode: normal;
}
