/* Slideshow container */
.slideshow-container {
  position: relative; 
}
/* The dots/bullets/indicators */
.dot {
  height: 0;
  width: 0;
  margin: 0;
  background-color: #bbb;
  border-radius: 0%;
  display: hidden;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@font-face {
  font-family: "ubuntu";
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2) format("woff2");
}

.wrapper {
  text-align: center;
}
.wrapper h1 {
  color: #fff;
  font-size: 92px;
  text-transform: uppercase;
  background: linear-gradient(to right, #f49132 15%, #ff3980 50%, #ff6a56 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: flex;
}
.wrapper h3 {
  color: #fff;
  font-size: 92px;
  text-transform: uppercase;
  background: linear-gradient(150deg, #000000 15%, #000000 50%, #9DC209 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: flex;
}



@keyframes textclip {
  to {
    background-position: 200% center;
  }
}